Progra.IV.AW.Products/Progra.IV.AW.Products/Connected Services/SI.WcfProductos/WcfAWProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfAWProductos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53254/WcfAWProductos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53254/WcfAWProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53254/WcfAWProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.BL" />
      <xsd:import schemaLocation="http://localhost:53254/WcfAWProductos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.Class" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAWProductos_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_ListarProductosPorRangoDePrecio_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosPorRangoDePrecio" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_ListarProductosPorRangoDePrecio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosPorRangoDePrecioResponse" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_ListarProductorPorColor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductorPorColor" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_ListarProductorPorColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductorPorColorResponse" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_ListarProductosPorNombreDeCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosPorNombreDeCategoria" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_ListarProductosPorNombreDeCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosPorNombreDeCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_ListarIdYNombreDeProductoPorColor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarIdYNombreDeProductoPorColor" />
  </wsdl:message>
  <wsdl:message name="IAWProductos_ListarIdYNombreDeProductoPorColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarIdYNombreDeProductoPorColorResponse" />
  </wsdl:message>
  <wsdl:portType name="IAWProductos">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAWProductos/GetData" message="tns:IAWProductos_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAWProductos/GetDataResponse" message="tns:IAWProductos_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IAWProductos/GetDataUsingDataContract" message="tns:IAWProductos_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAWProductos/GetDataUsingDataContractResponse" message="tns:IAWProductos_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductosPorRangoDePrecio">
      <wsdl:input wsaw:Action="http://tempuri.org/IAWProductos/ListarProductosPorRangoDePrecio" message="tns:IAWProductos_ListarProductosPorRangoDePrecio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAWProductos/ListarProductosPorRangoDePrecioResponse" message="tns:IAWProductos_ListarProductosPorRangoDePrecio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductorPorColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAWProductos/ListarProductorPorColor" message="tns:IAWProductos_ListarProductorPorColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAWProductos/ListarProductorPorColorResponse" message="tns:IAWProductos_ListarProductorPorColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductosPorNombreDeCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IAWProductos/ListarProductosPorNombreDeCategoria" message="tns:IAWProductos_ListarProductosPorNombreDeCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAWProductos/ListarProductosPorNombreDeCategoriaResponse" message="tns:IAWProductos_ListarProductosPorNombreDeCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarIdYNombreDeProductoPorColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAWProductos/ListarIdYNombreDeProductoPorColor" message="tns:IAWProductos_ListarIdYNombreDeProductoPorColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAWProductos/ListarIdYNombreDeProductoPorColorResponse" message="tns:IAWProductos_ListarIdYNombreDeProductoPorColor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAWProductos" type="tns:IAWProductos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IAWProductos/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IAWProductos/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductosPorRangoDePrecio">
      <soap:operation soapAction="http://tempuri.org/IAWProductos/ListarProductosPorRangoDePrecio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductorPorColor">
      <soap:operation soapAction="http://tempuri.org/IAWProductos/ListarProductorPorColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductosPorNombreDeCategoria">
      <soap:operation soapAction="http://tempuri.org/IAWProductos/ListarProductosPorNombreDeCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarIdYNombreDeProductoPorColor">
      <soap:operation soapAction="http://tempuri.org/IAWProductos/ListarIdYNombreDeProductoPorColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfAWProductos">
    <wsdl:port name="BasicHttpBinding_IAWProductos" binding="tns:BasicHttpBinding_IAWProductos">
      <soap:address location="http://localhost:53254/WcfAWProductos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>