Progra.IV.AW.Products/Progra.IV.AW.Products/Connected Services/SI.WcfProductos/WcfAWProductos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.Class" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.Class" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53254/WcfAWProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaysToManufacture" type="xs:int" />
      <xs:element minOccurs="0" name="DiscontinuedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinishedGoodsFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="MakeFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductModel" nillable="true" type="tns:ProductModel" />
      <xs:element minOccurs="0" name="ProductModelID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductProductPhoto" nillable="true" type="tns:ArrayOfProductProductPhoto" />
      <xs:element minOccurs="0" name="ProductReview" nillable="true" type="tns:ArrayOfProductReview" />
      <xs:element minOccurs="0" name="ProductSubcategory" nillable="true" type="tns:ProductSubcategory" />
      <xs:element minOccurs="0" name="ProductSubcategoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReorderPoint" type="xs:short" />
      <xs:element minOccurs="0" name="SafetyStockLevel" type="xs:short" />
      <xs:element minOccurs="0" name="SellEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SellStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeUnitMeasureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Style" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitMeasure" nillable="true" type="tns:UnitMeasure" />
      <xs:element minOccurs="0" name="UnitMeasure1" nillable="true" type="tns:UnitMeasure" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightUnitMeasureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
      <xs:element minOccurs="0" name="sizeInInches" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ProductModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatalogDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Instructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="ProductModelID" type="xs:int" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductModel" nillable="true" type="tns:ProductModel" />
  <xs:complexType name="ArrayOfProductProductPhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductProductPhoto" nillable="true" type="tns:ProductProductPhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductProductPhoto" nillable="true" type="tns:ArrayOfProductProductPhoto" />
  <xs:complexType name="ProductProductPhoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Primary" type="xs:boolean" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductPhotoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductProductPhoto" nillable="true" type="tns:ProductProductPhoto" />
  <xs:complexType name="ArrayOfProductReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductReview" nillable="true" type="tns:ProductReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductReview" nillable="true" type="tns:ArrayOfProductReview" />
  <xs:complexType name="ProductReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductReviewID" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductReview" nillable="true" type="tns:ProductReview" />
  <xs:complexType name="ProductSubcategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
      <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubcategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSubcategory" nillable="true" type="tns:ProductSubcategory" />
  <xs:complexType name="ProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubcategory" nillable="true" type="tns:ArrayOfProductSubcategory" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="ArrayOfProductSubcategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSubcategory" nillable="true" type="tns:ProductSubcategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSubcategory" nillable="true" type="tns:ArrayOfProductSubcategory" />
  <xs:complexType name="UnitMeasure">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="Product1" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="UnitMeasureCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitMeasure" nillable="true" type="tns:UnitMeasure" />
  <xs:complexType name="ArrayOfComboDeProductos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComboDeProductos" nillable="true" type="tns:ComboDeProductos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComboDeProductos" nillable="true" type="tns:ArrayOfComboDeProductos" />
  <xs:complexType name="ComboDeProductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboDeProductos" nillable="true" type="tns:ComboDeProductos" />
</xs:schema>