Progra.IV.AW.Products/Progra.IV.AW.Products/Connected Services/SI.WcfProductos/WcfAWProductos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53254/WcfAWProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.BL" />
  <xs:import schemaLocation="http://localhost:53254/WcfAWProductos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.Class" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.BL" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.BL" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosPorRangoDePrecio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="precioInferior" type="xs:decimal" />
        <xs:element minOccurs="0" name="precioSuperior" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosPorRangoDePrecioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.Class" minOccurs="0" name="ListarProductosPorRangoDePrecioResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductorPorColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Elcolor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductorPorColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.Class" minOccurs="0" name="ListarProductorPorColorResult" nillable="true" type="q4:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosPorNombreDeCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laCategoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosPorNombreDeCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.Class" minOccurs="0" name="ListarProductosPorNombreDeCategoriaResult" nillable="true" type="q5:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarIdYNombreDeProductoPorColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Elcolor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarIdYNombreDeProductoPorColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Progra.IV.AW.Products.Class" minOccurs="0" name="ListarIdYNombreDeProductoPorColorResult" nillable="true" type="q6:ArrayOfComboDeProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>